/*start header*/
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.resoudre-float {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
header {
    padding: 10px 0; 
    background-color: white;
    position: sticky; 
    top: 0;
    z-index: 1000;
    
}
header .header-logo {
    padding-top: 5px;
}
header .header-logo img {
    width: 350px;
    margin: 10px 20px;
}
header nav {
    float: right;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
header nav ul li {
    padding: 10px;
}
header nav ul li a {
    font-size: 17px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#3dd1bdd5;
    
}

/*end header*/